div(id="contact-form")
    h1=jn_title                         
    div(id="join-msg")
        p=jn_message

    form(id="contactForm", method="post", action="/join/artist", autocomplete="off")

    div(class="fld-grp1")
        div(class="field")
            label(for="name")=form.name
            input(class="in-text" name="name", type="text", form="contactForm", required)
        div(class="field")
            label(for="pen")=form.pen
            input(class="in-text" name="pen", type="text", form="contactForm")

    div(class="field")
        label(for="email")=form.email
        input(name="email", type="email", form="contactForm", required)
    
    div(class="fld-grp2")
        div(class="field" id="yoe")
            label(for="exp")=form.exp
            input(name="exp", type="number", form="contactForm", value="0")
        div(class="field")
            label(for="country")=form.country
            select(name="country", form="contactForm", require)
                each val, index in countries
                    option(value=index)=val
    
    div(class="field")
        label(for="languages")=form.langs
        input(id="be-language" name="languages", type="text", form="contactForm")
    
    div(class="field")
        label(for="msg")=form.why
        textarea(name="msg", rows="4", maxlength="500", form="contactForm", placeholder=hunnid5, required)
    
    div(class="field")
        label(for="lowers")=form.links
        input(id="linkit" name="lowers", type="text", form="contactForm")
    
    div(id="nt-impt0")
        label Attach Files 
        img(id="add-drop" src="/public/add.png" alt="fdsfd")
    
    form(id="uploadForm", class="dropzone dz-clickable", enctype='multipart/form-data')
        div(class="fallback")
            input(type="file", name="file", accept=".zip, .rar, .pdf, .docx, .doc", form="uploadForm", required)
    
    input(type="submit", value=submit, form="contactForm" style="min-width: 30%;")