div(id="contact-form")
    h1(id="contact-title")=title.contact
    form(id="contactForm", method="post", action="/contact")

    select(name="topic" form="contactForm")
        each val, index in topic
            option(value=index)=val
    
    div(class="field")
        label(for="name")=form.name
        input(class="in-text" name="name", type="text", form="contactForm", required)
    
    div(class="field")
        label(for="email")=form.email
        input(name="email", type="email", form="contactForm", required)
    
    div(class="field")
        label(for="subject")=form.subject
        input(class="in-text", name="subject", type="text", form="contactForm")
    
    div(class="field")
        label(for="msg")=form.message
        textarea(name="msg", rows="5", maxlength="500", form="contactForm", placeholder=hunnid5, required)
    
    div(id="nt-impt0")
        label=form.docs
        img(id="add-drop" src="/public/add.png" alt="fdsfd")
    
    form(id="uploadForm", class="dropzone dz-clickable", enctype='multipart/form-data')
        div(class="fallback")
            input(type="file", name="file", accept=".zip, .rar, .pdf, .docx, .doc", form="uploadForm", required)
    
    input(type="submit", value=submit, form="contactForm")