div(id="main-text")
    div(id="title")
        h1=cs_title
        h2=sub
    
    div(id="counters")
        div(class="di-block")
            div(class="digit" id="day")
                p(class="di") 0
            p(class="t-unit")=counter.day
        div(class="di-block")
            div(class="digit" id="hrs")
                p(class="di") 0
            p(class="t-unit")=counter.hour
        div(class="di-block")
            div(class="digit" id="min")
                p(class="di") 0
            p(class="t-unit")=counter.min
        div(class="di-block")
            div(class="digit" id="sec")
                p(class="di") 0
            p(class="t-unit")=counter.sec
    
    h2=subscribe
    
    form
        input(type="email", name="email", placeholder=wrd_email)
        input(type="submit" value=" ")