doctype html
html
    head
        style
            include /css/choices/choices.min.css
            include /css/animation.css
            include /css/footer.css
            include /css/about.css
            include /css/contact.css
            include /css/dropzone/dropzone.css
            include /css/dropzone/basic.css
            include /css/style.css
            include /css/mainText.css

        script(type="module")
            include /js/script.js

        script
            include /js/dropzone/dropzone.js
            include /js/choices/choices.min.js

        script(type="text/javascript" src="https://publ.maillist-manage.com/js/optin.min.js" onload="setupSF('sf3a9e5ddc812a00352207941e7468fd11e730b2e77c9fe8b7','ZCFORMVIEW',false,'light')")
        script(type="text/javascript").
            function runOnFormSubmit_sf3a9e5ddc812a00352207941e7468fd11e730b2e77c9fe8b7(th){
            };
            
        if page=='main'
            title=title.home
        else if page=='contact'||page=='message_received'
            title=title.contact
        else if page=='about'
            title=title.about
        else if page=='artist_join'
            title=title.artist

        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/public/icon.png", rel="icon")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
    body
        main
            a(id="head-logo" href=`${'/'}`) 
                img( src='/public/logo.png' alt="logo")
            div(id="right-wrap")
                if page=="artist_join"
                    img(class="poster" src='/public/hotmix.png' alt="rope")
                    img(id="big-logo" src='/public/final-02.png' alt="rope")
                else
                    img(id="animation-back" src="/public/animation-back.png" alt="back")
                    div(id="anime-top")
                        div(id="anime")
                            img(id="clock-rope-right" class="move" src='/public/rope.png' alt="rope")
                            img(id="clock-rope-left" class="move" src='/public/rope.png' alt="rope")
                            div(id="clock-body")
                                img(id="clock-body-img" class="move" src='/public/clock.png' alt="big hand")
                                div
                                    img(id="clock-bhand" class="move" src='/public/bi_hand.png' alt="big hand")
                                    img(id="clock-lhand" class="move" src='/public/li_hand.png' alt="little hand")
                                img(id="cool-girl" class="move" src='/public/cool_girl.png' alt="cool girl")
                        img(id="shadow" class="move" src='/public/shadow.png' alt="shadow")
                    div(id="title0")
                        if page=='main'
                            h1=title.home
                        else if page=='contact'
                            h1=title.contact
                        else if page=='about'
                            h1=title.about
                        else if page=='artist'
                            h1=title.artist
            div(id="left-wrap")
                if page=='main'
                    include includes/home_coming.pug
                else if page=='contact'
                    include includes/contact.pug
                else if page=='about'
                    include includes/about.pug
                else if page=='message_received'
                    include includes/message_received.pug
                else if page=='artist_join'
                    include includes/become_artist.pug
        
        footer
            div(id="f-left")
                a(href=`${'/about'}`)=footer.about
                div(class="f-divider")
                a(href=`${'/contact'}`)=footer.contact
                div(class="f-divider")
                a(href=`${'/join/artist'}`)=footer.artist

            div(id="f-right")
                p(id="cpy-rite") Copyright ©  2018-2019 Deus Company S.L. All rights reserved.
                a(class="sns" href=`${"/"}`) 
                    img(src='/public/fb.png' alt="facebook")
                a(class="sns" href=`${"https://twitter.com/DeusSNS"}`) 
                    img(src='/public/tweet.png' alt="twitter" )
                a(class="sns" href=`${"https://www.instagram.com/deussns/"}`) 
                    img(src='/public/insta.png' alt="instagram")
                select(id="locale")
                    each val, index in sup_languages
                        option(value=index selected=index==locale?"selected":undefined)=val